*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

header {
    margin-top: 40px;
    margin-bottom: 40px;
}

h1{
    font-size: 3rem;
    font-weight: bold;
    margin:0;
    color:  rgb(100, 0, 0);
}

/*Wrapper to hold the two boxes side-by-side */
.container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap:wrap; /*allows stacking on mobile*/
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
}

.auth-box {
    border: 3px solid rgb(100, 0, 0);
    border-radius: 30px;
    padding: 40px;
    width: 400px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-box h2 {
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgb(100, 0, 0);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px; /* Space between inputs */
}

/* Input styling */
input {
    width: 80%;
    padding: 12px 20px;
    border: 1.5px solid black;
    border-radius: 50px; 
    font-size: 1rem;
    outline: none;
    text-align: center; 
}

input::placeholder {
    color: #999;
}

/* Button styling */
button {
    background-color:  rgb(100, 0, 0);
    color: white;
    border: none;
    padding: 12px 60px;
    font-size: 1.1rem;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    opacity: 0.8;
}